= form_with(model: model, local: true) do |form|
  - if model.errors.any?
    #error_explanation
      %h2
        = pluralize(model.errors.count, "error")
        prohibited this model from being saved:
      %ul
        - model.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :name
    = form.text_field :name, id: :model_name, class: 'form-control'
  .form-group
    = form.label :manufacturer_id
    = form.collection_select :manufacturer_id, Manufacturer.all, :id, :name,{include_blank: 'Pick one...'}, { class: 'form-control' }
  = form.submit class: 'btn btn-primary'