= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :name
    = form.text_field :name, id: :user_name, class: 'form-control'
  .form-group
    = form.label :email
    = form.text_field :email, id: :user_email, class: 'form-control'
  .form-group
    = form.label :password
    = form.password_field  :password, id: :user_password, class: 'form-control'
  .form-group
    = form.label :password_confirmation
    = form.password_field  :password_confirmation, id: :user_password_confirmation, class: 'form-control'
  = form.submit class: 'btn btn-primary'