%h1 Customers

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Maxsip
        %th
    %tbody
      - @customers.each do |customer|
        %tr
          %td= link_to customer.name, customer
          %td= customer.maxsip_id
          %td.actions

            = link_to 'Edit', edit_customer_path(customer)
            = link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Customer', new_customer_path, class: 'btn btn-primary'
