= form_with(model: vendor, local: true) do |form|
  - if vendor.errors.any?
    #error_explanation
      %h2
        = pluralize(vendor.errors.count, "error")
        prohibited this vendor from being saved:
      %ul
        - vendor.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :name
    = form.text_field :name, id: :vendor_name, class: 'form-control'
  = form.submit class: 'btn btn-primary'